p{
 display : inline-block;
margin:-2.5% 0;
}

.comentario{
 color : magenta;
}

.tipodato{
 color : #61A800;
}

.reservada{
 color : #0038A8;
}

.libreria{
 color : lightblue;
}

.ids{
  color : gray;
}

.main{
  color : #00BB8B;
}

body{
background: #000;
}

.operador{
  color : #FFF;
}

.simbolo{
  color : #A80000;
}

.sinClass{
  color : #BB0000;
}

.tab{
}

.numero{
  color : #FFFF00;
}

.constantechar{
  color : #D37301;
}

