p{
    display : inline-block;
    margin:-2% 0;
}

body{
    background-color: #1a2227;
}

.COMENTARIOS{
    color : #7f8c8d;
}

.CADENAS{
    color : #da4453;
}

.NUMERICOS{
    color : #f67400;
}

.ID{
    color : #fcfcfc;
}

.ID_MAL{
    color : #ff0004;
}

.OPERADORES{
    color : #fbff00;
}

.LIBS{
    color : #7f8c8d;
}

.DIRECTIVAS{
    color : #27ae60;
}

.TIPOSDATO{
    color : #2980b9;
}

.KEYWORDS{
    color : #fcfcfc;
    font-weight: bold;
}

.SEPARADORES{
    color: #bb00bb;
}

.tab{
    color: #1a2227;
}
